* {
  box-sizing: border-box;
}

body{
    margin-left: 100px;
    margin-right: 100px;
}

#heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 5vw; 
    font-weight: 400; 
    letter-spacing: 12px;
    text-align:justify;
    margin-bottom: 40px;
}

#box{
    background-color: #EED6D3;
    height: 80px;
    margin-bottom: 40px;
}

#text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    padding: 10px;
   margin-left: -10px;
    
}

/*Media Queries to make page responsive */
@media (max-width: 500px) {
  body{
    margin: 20px;
  }
  #heading{
    font-weight: 700;
    text-align: center;
  }
  #box{
   background-color: white;
  }
  #text{
    font-size: 15px;
    line-height: 30px;
  }
  .grid-item {
    flex: 100%;
    margin-top: 20px;
   }

}

@media (min-width:501px) and (max-width:770px) {
  #heading{
    font-weight: 700;
    text-align: center;
  }
  #text{
    font-size: 15px;
    line-height: 30px;
  }
  .grid-item {
    flex: 100%;
    margin-top: 20px;
   }
}
@media (min-width:771px) and (max-width:1009px) {
  .grid-item {
    flex: 100%;
    margin-top: 20px;
   }
}
/* ------------------------------------- */
.grid-item{
    text-align: center;
    font-size: 20px;
    width: 25%;
    float: left;
    border: 1px solid #E3E8E9;
    height: 150px;
    padding: 50px;
    margin-right: 20px;
    margin-left: 45px;
}

.grid-item:hover{
    background-color: #E7D2CC;
}

.pop{
    animation: 2s anim-popoutin ease infinite;
}
  /*Adding keyfromes for animation */
  @keyframes anim-popoutin {
    0% {
      color: black;
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
      color: red;
      transform: scale(1);
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
      color: black;
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }
  /*--------------------*/
.dropping{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

.dropping .dropping-texts {
  display: inline-block;
  text-align: left;
  height: 60px;
  vertical-align: -25px;
  font-size: 35px;
  letter-spacing: 5px;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-10px;
  position:absolute;
  font-weight:900;   
}
 /*Animation for each text */
.dropping-texts > div:nth-child(1) {
  animation: roll 24s linear infinite 0s;
  color: #FFA384;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 24s linear infinite 4s;
  color: #74BDCB;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 24s linear infinite 8s;
  color: #E1C340;
}
.dropping-texts > div:nth-child(4) {
  animation: roll 24s linear infinite 12s;
  color: #A16AE8;
}
.dropping-texts > div:nth-child(5) {
  animation: roll 24s linear infinite 16s;
  color: #18A558;
}
.dropping-texts > div:nth-child(6) {
  animation: roll 24s linear infinite 20s;
  color: #059DC0;
}
/*-------------------------------- */

/*Keyframes for animation*/
@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-5deg);
  }
  3% {
    opacity:0;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:0;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0;
    margin-left:20px;
    margin-top:100px;
  }
  100%{
    opacity: 0;
  }
}
/* --------------------------------------- */

.box_text{
  color:black;
  font-size: 30px;
  margin-left: 30px;
  padding-top: 15px;
  font-weight: 100;
}

.box_text > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:400;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}
/*Animation for each text*/
.box_text > div:nth-child(1) {
  animation: roll 24s linear infinite 0s;
  
}
.box_text > div:nth-child(2) {
  animation: roll 24s linear infinite 4s;
  
}
.box_text > div:nth-child(3) {
  animation: roll 24s linear infinite 8s;
  
}
.box_text > div:nth-child(4) {
  animation: roll 24s linear infinite 12s;
  
}
.box_text > div:nth-child(5) {
  animation: roll 24s linear infinite 16s;
  
}
.box_text > div:nth-child(6) {
  animation: roll 24s linear infinite 20s;
  
}

/* ------------------------------------ */
